.newItem td {
  background-color: aquamarine;
  transition: background-color 0.5s ease-in-out;
}

li {
  list-style: none;
}

.income td {
  color: green;
  opacity: 75%;
}

.expense td {
  color: red;
  opacity: 75%;
}

.card:hover {
  cursor: pointer;
}
