<div class="row mb-4 g-4">
  <div class="col-md-3 ">
    <div (click)="filterBy('Paid')" class="card h-100 Paid text-white">
      <div class="card-body">
        <h5 class="card-title">Paid</h5>
        <h3 class="card-title">{{getSummaryByStatusId(2)}}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3 ">
    <div (click)="filterBy('PartiallyPaid')" class="card h-100 PartiallyPaid text-white">
      <div class="card-body">
        <h5 class="card-title">Partially Paid</h5>
        <h3 class="card-title">{{getSummaryByStatusId(1)}}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3 ">
    <div (click)="filterBy('UnPaid')" class="card h-100 UnPaid text-white">
      <div class="card-body">
        <h5 class="card-title">UnPaid</h5>
        <h3 class="card-title">{{getSummaryByStatusId(0)}}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3 ">
    <div (click)="filterBy('OverDue')" class="card h-100 OverDue text-white">
      <div class="card-body">
        <h5 class="card-title">Over Due</h5>
        <h3 class="card-title">{{ getSummaryByStatusId(3)}}</h3>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4 g-4">

    <div class="col-md-6 d-flex">
      <span id="tableLabel" class="col-md-3 invoice-title">Invoices</span>

      <a class="btn me-2 col-md-3"
         *ngIf="userService.isAdmin()"
         (click)="AddNew()">
        <li class="bi bi-plus-circle"> Add New</li>
      </a>

      <div id="filter" style="display:none;" class="col-md-6 filter my-2 d-flex">
        <div id="filter-caption" class="col-md-6">
          filter by
        </div>
        <div class="col-md-6 clear-filter">
          <a (click)='clearFilter()'>[ Clear ]</a>
        </div>        
      </div>
    </div>

    <div class="col-md-6 d-flex">

      <div class="card h-2 col-md-5 mx-2">
        <div class="card-body">
          <span class="card-title btitle">Total Outstanding</span>
          <span class="card-title mx-2">: {{getBalanceSummary() | currency:'R'}}</span>
        </div>
      </div>

      <div class="card h-2 col-md-5 mx-2">
        <div class="card-body">
          <span class="card-title btitle">Total Paid</span>
          <span class="card-title mx-2">: {{getPaidSummary() | currency:'R'}}</span>
        </div>
      </div>

    </div>


  </div>

  <p *ngIf="!invoices?.length"><em>Loading...</em></p>






  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource">

      <!-- Define your columns here (example) -->
      <ng-container matColumnDef="invoiceNumber">
        <mat-header-cell *matHeaderCellDef> Invoice Number </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="customer">
        <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.customerId | invoiceCustomerPipe: customers }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="invoiceDate">
        <mat-header-cell *matHeaderCellDef> InvoiceDate </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.invoiceDate | date:'MM/dd/yyyy, h:mm a' }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dueDate">
        <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.dueDate | date:'MM/dd/yyyy, h:mm a' }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="invoiceAmount">
        <mat-header-cell *matHeaderCellDef> Invoice Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.invoiceAmount | currency:'R' }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="paidAmount">
        <mat-header-cell *matHeaderCellDef> Paid Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.paidAmount | currency:'R'  }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.balance | currency:'R'  }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.statusId | invoiceStatusPipe }} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               (mousedown)="onRowClicked(row)"
               class="trans-row"
               [ngClass]="row.statusId | invoiceStatusPipe:true"
               ></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [length]="totalItems"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="handlePageEvent($event)"
                   showFirstLastButtons
                   aria-label="Select page of items">
    </mat-paginator>
  </div>
