<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand text-dark" [routerLink]="['/']">InvoiceTrackerApp</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">                   

          <li class="nav-item {{userToken ? 'isLoggedIn' : 'isLoggedOut'}}" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/customer-list']">Customers</a>
          </li>

          <li class="nav-item {{userToken ? 'isLoggedIn' : 'isLoggedOut'}}" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/invoice-list']">Invoices</a>
          </li>

        </ul>
      </div>

      <div class="text-end">
        <a class="btn btn-outline-dark me-2 {{userToken ? 'isLoggedOut' : 'isLoggedIn'}}"
           [routerLink]="'/login'">
          <li class="bi-box-arrow-in-right"> login</li>
        </a>

        <a class="btn btn-outline-dark me-2 {{userToken ? 'isLoggedIn' : 'isLoggedOut'}}"
           (click)="logout()">
          <li class="bi bi-box-arrow-right me-1"> logout</li>
        </a>

        <a class="btn btn-outline-dark me-2 {{userToken ? 'isLoggedOut' : 'isLoggedIn'}}"
           [routerLink]="'/signup'">
          <li class="bi-box-arrow-in-right"> signup</li>
        </a>
      </div>

    </div>
  </nav>
</header>
